
		<h2 class="custom-pic-header"> FOOL! No rubies here! But stay tune to continue the adventure...</h2>

		<% @pics.each do |pic| %>
			<div class="span3">
				<div class="boxy">
					<h5>ID: <%= pic.id %></h5>
					<h2>Hour: <%= pic.hour %></h2>
					<p />
					<%= image_tag pic.image %>
					<p />
					<h4>Emotion:</h4> 
						<p />
						<%= pic.emotion %>
					<p />
					<h4>Learned:</h4> 
					<p /><%= pic.learned %>
					<p />
				</div>
			</div>

		<%end %>
		<br />

				


