<div class="hero-unit">
<h1>New Picture!</h1>

<%= simple_form_for @pic do |f| %>
	<%= f.input :hour %>
	<%= f.input :emotion %>
	<%= f.input :learned %>
	<%= submit_tag "Concede Scallywag!", :class => 'btn-primary btn' %>

<% end %>

</div>